@(content: Html)

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>MockHealthApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  
  <header class="container" style="width: 100%;">
    <div class="row" style="background-color:#06C2FF;">
      <h1 class="col-sm-4" style="color:white;">HealthApp</h1>
      <nav class="col-sm-8">

	<div class="col-sm-2" style="padding-top: 25px;">
        <a href="/" style="color:white;"><b>Home</b></a><br>
	</div>
	
	<div class="col-sm-2" style="padding-top: 25px;">
        <a href="/newest" style="color:white;"><b>Newest</b></a><br>
	</div>

	<div class="col-sm-2" style="padding-top: 25px;">
	<a href="/catalogue" style="color:white;"><b>Catalogue</b></a>
	</div>
	
	<div class="col-sm-2" style="padding-top: 25px;">
        <a href="/contact" style="color:white;"><b>Contact</b></a>
	</div>

      </nav>
    </div>
  </header>

  

<body>
    @content
</body>

</html>
