@()

@head {

<section id="content">

  <div class="container" style="width: 100%; padding-top: 10px;">

    Find our latest news and updates below.
    
  </div>
  
  <div style="padding: 25px;">
  
    <table>
      <tr>
	<td style="padding:7px;"><b>HealthApp</b></td>
	<td style="padding:7px;">10/01/2018 10:01 AM</td> 
	<td style="padding:7px;"><i>HealthApp CEO speaks to NBC Tonight about value-based care initiatives...</i></td>
      </tr>
      <tr>
	<td style="padding:7px;"><b>HealthApp</b></td>
	<td style="padding:7px;">12/12/2018 3:23 PM</td> 
	<td style="padding:7px;"><i>The 5 healthcare trends that will rock the market in 2019...</i></td>
      </tr>
      <tr>
	<td style="padding:7px;"><b>HealthApp</b></td>
	<td style="padding:7px;">01/30/2019 11:07 AM</td> 
	<td style="padding:7px;"><i>HealthApp hires patient access services veteran as new CIO...</i></td>
      </tr>
    </table>
  </div>

  
</section>

}
